node_modules
**/node_modules
**/dist
**/build
**/.astro
**/.svelte-kit
**/.next
**/.turbo
**/.cache
**/.output
**/coverage
**/pnpm-lock.yaml
deploy/helm/**/templates/*.yaml
deploy/helm/**/templates/*.yml
