# REQUIRED
REDIS_URL="redis://localhost:6379/0"

# REQUIRED
TELEGRAM_BOT_TOKEN=""

# RECOMMENDED
TELEGRAM_ALLOWED_CHAT_ID=""

# OPTIONAL
TELEGRAM_POLL_SECONDS="2"
CURL_CFFI_IMPERSONATE="chrome"
PORT="3000"

# Redis key config (should match upworker)
UPWORK_TOKEN_REDIS_KEY="upwork_token"
UPWORK_COOKIE_REDIS_KEY="upwork_cookie"
UPWORK_API_TENANT_REDIS_KEY="upwork_api_tenant_id"

